body{
    background-size: cover;
}
.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}
#start,#objects,#status{
font-size: 20px;
}
canvas{
    border: 2px solid olive;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: mediumslateblue 5px 5px 5px;
}
.footer{
    position: fixed;
    background-color: seagreen;
    color: thistle;
    bottom: 0;
    width: 100%;
    line-height: 2;
    text-align: center;
}